#home_body {
    background-image: url('HomescreenS1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#sensory_room_body {
    background-image: url('SensoryRoomS1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

#playground_body{
    background-image: url('PlaygroundS1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

#about_body{
    background-image: url('HomescreenS1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#navbar {
    text-align: center;
    margin-top: 40px;
    background-color: #F0F7F4; 
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
}

#navbar ul li{
    display: inline;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.nav-link{
    font-size: 25px;
}

#test{
    background-color: blue;
}

#test_box{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    margin-bottom: 30px;
    background-color: #70ABAF;
    align-items: center;
}

.bubble {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: .6;
    border-style: solid;
  }

#bubblecolumn{
    background-color: black;
}

.customButton{
    background-color: #772D8B;
    border-radius: 30px;
    color: #F0F7F4;
    font-size: .75vw;
    text-align: center;
    
}

html, body{
    height: 100%;
}

.coverPhoto{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    padding: 10px;
    margin: 0;
    padding-top: 25px;
}

#sensory_room_option_title{
    text-align: center;
}

#changeScreenSize{
    margin-top: 10px;
    margin-left: 10px;
}

#setting{
    font-size: 30px;
}

#settingButton{
    background-color: #F0F7F4;
    border-width: 0;
    border-color: #F0F7F4;
}

canvas {
    border: 1px solid black;
    width: 560px;
    height: 360px;
    margin-left:35%;
    margin-top: 5%;
  }

  
  html, body {
    overscroll-behavior-x: none;
}
 
  
 